<div class="container">
  <div class="titles">
    <h1> <%= @activity.name %> (<span style="color:red"><%= @activity.category.name%></span>) :</h1>
    <h3> Llevo <%= @activity.dones.count %> actividades realizadas:</h3>
  </div>
    <div class="done_container" style="display:flex;flex-direction:row">
      <%   @dones_todo.each do  |done_todo| %>
        <div class="dones" style="display:flex;flex-direction: column">
        <% @dones_activity.each do  |done_activity| %>
          <div class="point" style="margin:5px 5px 0px 5px">
            <% if done_todo.created_at.day == done_activity.created_at.day %>
             <div style="background-color: #286090; height:50px">
            </div>
            <% else %>
             <div style="background-color: white; height:50px">
            </div>
            <% end %>
          </div> 
        <% end %>
        <div class="point" style="border:solid 1px white">
          <p> <%= done_todo.created_at.year %>-<%= done_todo.created_at.month %>-<%= done_todo.created_at.day%></p>
        </div>
        </div> 
      <% end %>
    </div>
</div>  